<div class="index-page" ng-controller="homePageController">
   
    <div class="profile-page" ng-include="'views/shared/navbar/generalNav.html'"></div>

    <div class="wrapper">
        
        <div class="header header-filter" style="background: url('assets/img/mendance.jpg') no-repeat center center fixed; background-size:cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1 style="font-family: 'Rock Salt', cursive;">NanoFin</h1>
                            <h3>Smart. Quick. Bankless.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="main main-raised">
          
            <div class="row text-center">
               
                <h3 style="font-family: 'Rock Salt', cursive; padding-top:2%; color:gray">  
                    Consumers  |  Resellers  |  Insurance Providers
                    </h3>
                </div>


            <div style="padding-top:3%">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="feature feature-primary">

                            <img class="img-rounded" style="width:70%" src="../../../assets/img/dsc_0101.jpg" />
                            <!--<i class="material-icons">sentiment_very_satisfied</i>-->
                            <h4 class="text-info"><i class="fa fa-smile-o" aria-hidden="true"></i> Consumers - Be Happy</h4>

                            <p>Instantly get affordable cover for any number of days. </p>
                            <p>Live happy knowing you and your loved ones will be covered.</p>
                        </div>
                    </div>
                    </div>

                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="feature feature-primary">
                            <img class="img-rounded" style="height: 70%; width:70%" src="../../../assets/img/croppedCapture.jpg" />
                            <h4 class="text-info"><i class="fa fa-money"></i> Make Money Do Good - Reseller</h4>
                            <p >Become a reseller. Get money. That simple.</p>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="feature feature-primary">

                            <img class="img-rounded" style="height: 80%; width:70%" src="../../../assets/img/01.jpg" />
                            <h4 class="text-info"><i class="fa fa-shopping-cart"></i> Your Products Discovered- Insurance Providers</h4>
                            <p>Help people get the cover they need</p>
                            <p>Put your products out to the consumers you want to reach. </p>
                               
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h5 style="font-family: 'Montserrat', sans-serif; padding-top:2%;" class="text-info">
                            NanoFin is committed to giving people the types of products they deserve. Sometimes these products are out of reach because they are so expensive.
                            Forget about how things used to work. Our products start from as little as R0.40 per day.
                        </h5>
                    </div>
                </div>



                    </div>

                </div>

             

                <br />
                <br />
            </div>

        </div>
  