<div ng-controller="resellerInfoPageController">
    <div class="profile-page" ng-include="'views/shared/navbar/generalNav.html'"></div>

    <div class="profile-page" ng-controller="resellerInfoCtrl">

        <div class="header header-filter" style="background: url('../../assets/img/clouds.jpg') no-repeat center center; background-size: 100%; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="brand">
                            <h1 style="font-family: 'Rock Salt', cursive; color:white; text-align:center; margin-top:10%;">
                                Become a Reseller
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    
                <div class="tim-row">
                    <div class="col-lg-11" style="font-family: 'Montserrat', sans-serif; font-size:15px; text-align:center">
                        <p>
                            We're glad you're here. NanoFin and resellers do good together.
                            If you've come to make some spare cash, look for a full time job or make a real difference in society
                            - check out the map below. <br /><br />
                            The map shows you where you can find NanoFin staff that can sign you up. After you've been signed up you're free to do your thing.
                        </p>
                    </div>
                </div>                    
                <br /><br /><br /><br /><br /><br />
                <div id="resellerFindUsMap"  style="height:500px;  width:100%; margin-bottom:50px">
                    <div id="map" style="height:100%;"></div>
                </div>
                    
                    <div class="tim-row">
                        <div class="col-lg-11" style="font-family: 'Montserrat', sans-serif; font-size:15px; text-align:center">
                            <p>
                                Note make sure to bring your ID and banking details (certified 3 month bank statement).
                            </p>
                        </div>
                    </div>  
                    
                </div> <!--main content-->
            </div>
        </div>
    </div>

</div>